##########################################################
##
## This file contains rules for file pattern matches
## which git will ignore.
##
##	see: man git-ignore
##
##   Author:  Wilber
##
##########################################################

##########################################################
##    bower components
##########################################################
www/lib/


##########################################################
##    cordova plugins
##########################################################
plugins/*/


##########################################################
##    cordova platforms
##########################################################
platforms/

.DS_Store
