
/* Empty. Add your own CSS if you like */

.book-item {
	padding: 0px !important;
}
.book-item-info {
	display: inline-block;
	width: 85%;
	padding: 16px;
	text-decoration: none;
    vertical-align: middle;
}

.book-item-btn {
    vertical-align: middle;
}

.search-paging {
	text-align: center;
}

.book-detail-header {
    font-weight: bold;
    font-size: 28px;
    text-align: right;
    border-bottom: 2px solid #bcaeae;
    line-height: normal;
    color: #695353;
}

.book-detail-info-header {
    font-size: 14px;
    text-align: right;
    border-right: 2px solid #009688;
    font-weight: bold;
}

.book-detail-info-data i {
    font-size: 20px;
    vertical-align: middle;
    padding-left: 6px;
}

.book-detail-info-data {
    font-size: 14px;
}

.tag-item-container {
    background-color: aliceblue;
    padding: 10px;
}

.tag-item {
    display: inline-block;
    padding: 6px;
    margin: 3px;
    border-radius: 6px;
    border: 2px solid #5ea1e5;
}

.active-tag {
    background-color: #5ea1e5;
}

.active-tag .tag-item-title {
    color: white;
}

.tag-item-title {
    font-size: 16px;
    color: gray;
    padding-right: 6px;
}

.tag-operations {
    float: right;
}

.tag-operations i {
    font-size: 24px;
    padding-left: 10px;
    cursor: pointer;
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
/*
  50% {
    -webkit-transform: translate3d(50%,0,0);
  }
*/
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slide-in-both-ways {
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}